<div class="container">
  <div class="rest-list-container">
    <div class="row">
      
      <div class="col-sm-12 ">
        <app-create-restaurant (restaurantAdded)='addNewRestaurant($event)'></app-create-restaurant>
      </div>

      <div class="row" *ngIf="restaurantList && restaurantList.length>0">
        <div *ngFor="let a of restaurantList" class="col-sm-12">
          <div class="card">
            
            <div class="card-header">
              <div class="row">
                <div class="col-sm-8">
                  <div class="card-header-title">{{a.name}}</div>
                  <div class="card-header-city">{{a.location?.city}}</div>
                  <div class="card-header-address">{{a.location?.address}}</div>
                </div>
                <div class="col-sm-4">
                  <img class="img-float" src="{{a.thumb}}" alt="Pineapple">
                </div>
              </div>
            </div>

            <div class="card-body">
              <div class="row card-body-detail">
                <div class="card-title col-sm-3">CUISINES: </div>
                <div class="col-sm-8">{{a.cuisines}}</div>
                <div class="card-title col-sm-3">COST FOR TWO: </div>
                <div class="col-sm-8">{{a.average_cost_for_two}}</div>
                <div class="card-title col-sm-3">HOURS: </div>
                <div class="col-sm-8">12noon – 11pm (Mon-Sun)</div>
              </div>
            </div>

            <div class="dropdown-divider"></div>

            <div class="btn-group row" role="group" aria-label="Basic example" Style="margin:0">
              <button type="button" class="btn btn-light col-sm-4 button-options">Call&nbsp;<i class="fa fa-phone" aria-hidden="true"></i></button>
              <button type="button" class="btn btn-light col-sm-4 button-options" [routerLink]="['/app/restaurant-details', a._id]" >View Details</button>
              <button type="button" class="btn btn-success col-sm-4 button-options" Style="color:white">Order&nbsp;<i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
            </div>

            <!-- <app-edit-restaurant></app-edit-restaurant> -->
          </div>
        </div>
      </div>

      <div class="row empty" *ngIf="!restaurantList || restaurantList.length== 0">
        OOPS!! Its Empty in here.
      </div>

    </div>
  </div>
</div>