<div class="container">
  <h1>
    Edit Restaurant
  </h1>
  <div class="row">
    <div class="col-md-12">

      <form (ngSubmit)="updateRestaurant()" #registerForm="ngForm" *ngIf="!dataSaved">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" [(ngModel)]="restaurant.name" name="name" required>
        </div>
        <div class="form-group">
          <label for="url">Url</label>
          <input type="text" class="form-control" [(ngModel)]="restaurant.url" name="url">
        </div>
        <div class="form-group">
          <label for="name">Cost for Two</label>
          <input type="text" class="form-control" [(ngModel)]="restaurant.average_cost_for_two" name="published_year">
        </div>
        <div class="form-group">
          <label for="name">Price Range</label>
          <input type="text" class="form-control" [(ngModel)]="restaurant.price_range" name="published_year">
        </div>
        <div class="form-group">
          <label for="name">Thumbnail Image</label>
          <input type="text" class="form-control" [(ngModel)]="restaurant.thumb" name="published_year">
        </div>

        <div class="form-group">
          <label for="name">Photos Url</label>
          <input type="text" class="form-control" [(ngModel)]="restaurant.photos_url" name="published_year">
        </div>
        <div class="form-group">
          <label for="name">Online delivery</label>
          <input type="text" class="form-control" [(ngModel)]="restaurant.has_online_delivery" name="published_year">
        </div>

        <div class="form-group">
          <label for="name">Cuisines </label>
          <input type="text" class="form-control" [(ngModel)]="restaurant.cuisines" name="isbn">
        </div>

        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse1">Where can we find you ?&nbsp;<i class="fa fa-chevron-down" aria-hidden="true"></i></a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
              <div class="panel-body">

                <div class="form-group">
                  <label for="address">Address</label>
                  <input type="text" class="form-control" [(ngModel)]="location.address" name="address">
                </div>
                <div class="form-group">
                  <label for="locality">Locality</label>
                  <input type="text" class="form-control" [(ngModel)]="location.locality" name="locality">
                </div>
                <div class="form-group">
                  <label for="city">City</label>
                  <input type="text" class="form-control" [(ngModel)]="location.city" name="city">
                </div>
                <div class="form-group">
                  <label for="name">Latitude</label>
                  <input type="text" class="form-control" [(ngModel)]="location.latitude" name="latitude">
                </div>
                <div class="form-group">
                  <label for="name">Longitude</label>
                  <input type="text" class="form-control" [(ngModel)]="location.longitude" name="longitude">
                </div>
                <div class="form-group">
                  <label for="name">Zip Code</label>
                  <input type="text" class="form-control" [(ngModel)]="location.zipcode" name="zipcode">
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!registerForm.form.valid">Save</button>&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-secondary" [routerLink]="['/app/restaurant-details', restaurant._id]">Cancel</button>
        </div>

      </form>
    </div>
  </div>
</div>